#form-numbers{
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

#form-numbers > div{
  padding: 10px 20px;
}

#form-numbers hr, input[type=text]{
  width: 80px;
  font-size: 36 px;
  text-align: center;
}

.ans{
  font-size: 100px;
  font-weight: bold;
}

#num-tag{
  margin-top: 10px;
  margin-bottom: 20px;
}